// Override this file to add your own SCSS styling.

img {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.2);
}


.home-section.fullscreen {
    /* min-height: calc(100vh - 70px); */
    min-height: 0px;
}

.btn {
    color: blue;
    // border: solid gray 1px;
    margin: 25px 5px 15px 0;
}



.dropdown-toggle {
    margin: 5px;
}

/* Code folding */

/* Each code block button */
.code-folding-btn { 
    margin-bottom: 20px; 
	float: right;
}

div {
    margin: 10px 0 10px 0;
}


.row { 
    display: flex;
    border-bottom: solid 1px #d7d7d7;
}
.col-md-12 {
    margin: 0 0 0 auto;
}

/* Main show/hide button */
#code-folding-buttons {float: right;}

#code-folding-buttons .dropdown-menu {
    min-width: 80px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
}

#allCodeToggleButton {
    // background: green;


}


/* End code folding */
