
<script>
  
  window.onload = function() {
    var x = document.querySelectorAll("pre.r");
    xArr = Array.from(x);
    xArr.map(elem => {
      elem.style.display = "none"
    })
};

  

  function myFunction() {
    btn = document.getElementById("togglecode");
    var x = document.querySelectorAll("pre.r");
    xArr = Array.from(x);
    xArr.map(elem => {
      if (elem.style.display === "none") {
        elem.style.display = "block";
        btn.innerHTML = "Hide Code"
      } else {
        elem.style.display = "none";
        btn.innerHTML = "Show Code"
      }
    })
  }



</script>

<button id="togglecode" onclick="myFunction()">Show Code</button>